# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
latitude

# Emacs backup files
*~

# Compiled Latitude files
*.latsc
*.latc

# Misc.
etc/*
doc/*

# Flex/Bison output data
lex.yy.c
lex.yy.h
*.tab.c
*.tab.h